.direction-buttons {
  position: fixed;
  border-radius: 20px;
  bottom: 20px;
  left: 20px;
  display: flex;
  gap: 10px;
  border: 2px solid gray;
  padding: 10px;
  z-index: 1000;
}

.direction-buttons .column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.direction-buttons button {
  width: 40px;
  height: 40px;
  font-size: 20px;
  border-radius: 20px;
  font-weight: bold;
  background-color: #894cd9;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
}
