.drag-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 5vw;
  height: 100vh;
  z-index: 1000;
}

.draggable {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  user-select: none;
  touch-action: none; /* Prevents default touch behaviors */
}

.drag-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  cursor: grab;
  user-select: none;
  touch-action: none; /* Prevents default touch behaviors */
  background-color: transparent; /* Ensure the edge is transparent */
}
