h1,
h2 {
  text-align: center;
}

.drawer-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.drawer-page > * {
  margin: 20px;
}
button {
  padding: 20px;
}
